      <section>
      <div>
            <h3>Add a Book:</h3>
            <form>
            <label for="book-title">Book Title:</label>
            <input type="text" id="book-title" name="book-title"><br><br>
            <label for="book-author">Book Author:</label>
            <input type="text" id="book-author" name="book-author"><br><br>
            <label for="book-genre">Book Genre:</label>
            <input type="text" id="book-genre" name="book-genre"><br><br>
            <input type="submit" value="Submit" id="add-newBook">
            </form>
      </div>
      </section>
      <script src="/js/library.js"></script>