<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bookworm</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Bookworm</a>
      </h1>
    </header>
    <main>
      <!-- THIS NEEDS TO BE ADDED TO FRONT END -->
      <div>

        <!-- add search bar here for user to search by topic -->
      <h2>New York Times Bestsellers:</h2>
      {{#each nyTimes}}  
       
       <h3>{{Rank}}. {{Title}}</h3>
       
       <p>Author: {{Author}} </p>
       
       <p>Description: {{Description}}</p>

       {{/each}} 
 
      </div>
      <!-- CODE ABOVE RENDERS USER'S BOOKS -->

    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>

</body>

</html>