      <!-- RENDERS USER'S LIBRARY -->

      <div>
      <h2>Your Library:</h2>
      
       {{#each books}}  
       
       <h3>{{Title}}</h3>

       <p>Author: {{Author}} </p>
       <p>Category: {{Category}}</p>
       <p>Description: {{Description}} </p>
      
       {{/each}} 
      </div>
      <!-- RENDERS USER'S LIBRARY -->