<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Worm</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="wrapper">
      <header>
    <h1>
      <a href="/">Book Worm</a>
    </h1>
    <nav>
      <button id="logout" class="btn-no-style">logout</button>
      <a href="/login">login</a>
    </nav>
  </header>
    <main>
      {{{ body }}}

<form class="recs" >
  <input id="book-search" type="text" placeholder="Category..."  name="search" class="input">
  <button class="btn btn-primary" onclick="performGetRequest2()">Get Todos</button>
</form>
 <button class="dropbtn">Dropdown</button>
  <div class="dropdown-content">
    <a id="fiction" href="">Fiction</a>
    <a id='non-fiction' href="">Non-Fiction</a>
    <a id="poetry" href="">Poetry</a>
    <a id="biography" >Biography</a>
  </div>
<!-- TESTING SEARCH BAR FOR BOOK RECS ABOVE-->
<div id="getResult2">

</div>
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>
  <script src="/js/logout.js"></script>
  <script src="/js/library.js"></script>
</body>

</html>