<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bookworm</title>
  <link rel="stylesheet" href="../../public/css/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Bookworm</a>
      </h1>
    </header>
    <main>
      {{{ body }}}
    <div>
    
    </div>
      
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>
<script src="/js/user-books.js"></script>
</body>

</html>